[Unit]
Description=ffmpeg service

[Service]
ExecStart=/opt/ffmpeg.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always
User=www-data

[Install]
WantedBy=multi-user.target
